<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header>
    <nav class="nav navbar-nav navbar-left">
    <span>Bookers</span>
  </nav>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="glyphicon glyphicon-home home">
        <%= link_to "Home",user_path(current_user.id) %></li>
        <li class="glyphicon glyphicon-user users">
        <%= link_to "Users",users_path %></li>
        <li class="glyphicon glyphicon-book books">
        <%= link_to "Books",books_path %></li>
        <li class="glyphicon glyphicon-log-out logout">
        <%= link_to "logout",destroy_user_session_path,method: :delete %></li>
      
      
   <% else %>
    <li class= "glyphicon glyphicon-home home">
        <%= link_to "Home",root_path %></li>
    <li class="glyphicon glyphicon-link about">
        <%= link_to "About",home_about_path %></li>
    <li class="glyphicon glyphicon-edit sign_up">
        <%= link_to "Sign up",new_user_registration_path %></li>
    <li class="glyphicon glyphicon-log-in sign_in">
        <%= link_to "login",new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
</header>

    <!-- /header -->
    <div class="container">
         <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div id="container">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>

    <%= yield %>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
          <P>CopyRight Infratop.inc</P>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
